/* ==========================================================================
   Section comment block
   ========================================================================== */
/* Sub-section comment block
   ========================================================================== */
/* Basic comment */
/* ==========================================================================
   .MOC-view3d
   ========================================================================== */
.MOC-view3d canvas {
  display: block; }

.MOC-view3d__DOMContainer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden; }

.MOC-view3d__playerDOMBlock {
  text-align: center;
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 200px; }

.MOC-view3d__playerChat {
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 5px 10px; }

.MOC-view3d__playerChat:empty {
  display: none; }
